{% extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Welcome to the Influencer Engagement Platform</h1>
    <p class="lead">Connect sponsors with influencers for successful advertising campaigns.</p>
    <hr class="my-4">
    <p>Sign up or log in to get started.</p>
    <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-secondary btn-lg" href="/login" role="button">Login</a>
</div>
{% endblock %}